meta {
  -theme-interface-name: 'Foxy Light';
  -theme-interface-style: light;
  -theme-vibrancy: none;
  -theme-accent-color: false;
}

/* Window styles */
meta.window {
  background: #ffffff;
  border: #e0e0e2;
}
meta.titlebar {
  background: #f9f9fa;
  border: #e0e0e2;
  color: #38383d;
}
meta.titlebar.inactive {
  background: #f9f9fa;
}
meta.button {
  background: #f9f9fa;
  border: #f9f9fa;
  color: #38383d;
}
meta.button.highlighted {
  background: #dcdcde;
  border: #dcdcde;
  color: #0c0c0c;
}
meta.button.highlighted.selected {
  background: #e6e6e6;
  border: #e6e6e6;
  color: #3e3e3e;
}
meta.button.selected {
  background: #e6e6e6;
  border: #e6e6e6;
  color: #0c0c0c;
}
meta.button.disabled {
  background: #f9f9fa;
  border: #f9f9fa;
  color: #e6e6e6;
}
meta.textfield {
  background: #f9f9fa;
  border: #f9f9fa;
}
meta.textfield.highlighted {
  background: #f9f9fa;
  border: #0a84ff;
}
meta.textfield.selected {
  background: #f9f9fa;
  border: #0a84ff;
}

/* Document styles */
meta.document {
  background: #ffffff;
  border: #dcdcde;
}
meta.document.button {
  background: #f9f9fa;
  border: #f9f9fa;
  color: #38383d;
}
meta.document.button.disabled {
  background: #f9f9fa;
  border: #f9f9fa;
  color: #e6e6e6;
}
meta.document.button.highlighted {
  background: #e6e6e6;
  border: #e6e6e6;
  color: #3e3e3e;
}
meta.document.button.selected {
  background: #e6e6e6;
  border: #e6e6e6;
  color: #3e3e3e;
}
meta.document.textfield {
  background: #f9f9fa;
  border: #f9f9fa;
}
meta.document.textfield.highlighted {
  background: #f9f9fa;
  border: #0a84ff;
}
meta.document.textfield.selected {
  background: #f9f9fa;
  border: #0a84ff;
}

/* Text */
meta.text {
  color: #0878e9;
}
meta.text.invisible {
  color: #0878e9;
}
meta.text.selected {
  background: #d2e3f9;
}
/* Cursor */
meta.cursor {
  background: #e7f1fe;
}
/* Indentation Guides */
meta.indentguide {
  border: #dcdcde;
}
/* Gutter */
meta.gutter {
  color: #a0a0a0;
}
meta.gutter.selected {
  background: #d2e3f9;
}

/*
 * Syntax styles
 */
keyword {
  color: #dd00a9;
  font-style: italic;
}
comment {
  color: #737373;
}
processing {
  color: #737373;
}
declaration {
  color: #8000d7;
}
bracket {
  color: #38383d;
}
operator {
  color: #38383d;
  font-style: italic;
}
invalid {
  color: #eb5368;
}
link {
  color: #0878e9;
}

/* Values */
value.boolean {
  color: #dd00a9;
}
value.null {
  color: #dd00a9;
}
value.number {
  color: #003eaa;
}
value.entity {
  color: #003eaa;
}
value.symbols {
  color: #003eaa;
}

/* Identifiers */
identifier.type {
  color: #003eaa;
}
identifier.constant {
  color: #0878e9;
}
identifier.decorator {
  color: #003eaa;
}
identifier.function,
identifier.method {
  color: #003eaa;
}
identifier.global {
  color: #8000d7;
}
identifier.property {
  color: #148310;
}
identifier.key {
  color: #148310;
}
identifier.argument {
  color: #0878e9;
}

/* Strings */
string {
  color: #003eaa;
}
string.key {
  color: #148310;
}
string-template {
  color: #148310;
}
regex {
  color: #148310;
}
cdata {
  color: #148310;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  color: #0878e9;
  font-weight: bold;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #003eaa;
}

/* Tags */
tag {
  color: #0878e9;
}
tag.framework {
  color: #0878e9;
}
tag.attribute.name {
  color: #dd00a9;
  font-style: italic;
}
tag.attribute.value {
  color: #003eaa;
}
tag.attribute.value.link {
  color: #003eaa;
}

/* Styles */
style.at {
  color: #0878e9;
  font-weight: bold;
}
style.selector.element {
  color: #0878e9;
}
style.selector.identifier.id {
  color: #38383d;
}
style.selector.identifier.class {
  color: #38383d;
}
style.selector.pseudoclass {
  color: #38383d;
}
style.selector.pseudoelement {
  color: #38383d;
}
style.attribute.name {
  color: #148310;
}
style.value.text {
  color: #003eaa;
}
style.value.number {
  color: #003eaa;
}
style.value.color.hex {
  color: #dd00a9;
}
style.value.keyword {
  color: #dd00a9;
  font-style: italic;
}
style.value.color.named {
  color: #dd00a9;
}

/* Markup */
markup.heading {
  color: #353b48;
  font-weight: bold;
}
markup.line {
  color: #a0a0a0;
}
markup.bold {
  font-weight: bold;
}
markup.italic {
  font-style: italic;
}
markup.strikethrough {
  color: #dd00a9;
}
markup.list {
  color: #747474;
}
markup.list.item {
  color: #a0a0a0;
}
markup.code {
  color: #a0a0a0;
}

/* Terminal */
terminal.bright-black {
  color: #38383d;
}
terminal.bright-red {
  color: #d96629;
}
terminal.bright-green {
  color: #148310;
}
terminal.bright-yellow {
  color: #ffcd22;
}
terminal.bright-blue {
  color: #0878e9;
}
terminal.bright-magenta {
  color: #ff7de9;
}
terminal.bright-cyan {
  color: #46afe3;
}
terminal.bright-white {
  color: #e0e2e4;
}

terminal.black {
  color: #0c0c0c;
}
terminal.red {
  color: #eb5368;
}
terminal.green {
  color: #058b00;
}
terminal.yellow {
  color: #ff9900;
}
terminal.blue {
  color: #003eaa;
}
terminal.magenta {
  color: #dd00a9;
}
terminal.cyan {
  color: #75bfff;
}
terminal.white {
  color: #e6e6e6;
}
