meta {
  -theme-interface-name: 'Foxy Dark';
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: false;
}

/* Window styles */
meta.window {
  background: #18181a;
  border: #38383d;
}
meta.titlebar {
  background: #232327;
  border: #38383d;
  color: #b1b1b3;
}
meta.titlebar.inactive {
  background: #18181a;
}
meta.button {
  background: #18181a;
  border: #18181a;
  color: #a1a1a1;
}
meta.button.highlighted {
  background: #4e4e51;
  border: #4e4e51;
  color: #a1a1a1;
}
meta.button.highlighted.selected {
  background: #4e4e51;
  border: #4e4e51;
  color: #a1a1a1;
}
meta.button.selected {
  background: #4e4e51;
  border: #4e4e51;
  color: #a1a1a1;
}
meta.button.disabled {
  background: #18181a;
  border: #18181a;
  color: #4e4e51;
}
meta.textfield {
  background: #232327;
  border: #232327;
}
meta.textfield.highlighted {
  background: #232327;
  border: #0a84ff;
}
meta.textfield.selected {
  background: #18181a;
  border: #0a84ff;
}

/* Document styles */
meta.document {
  background: #18181a;
  border: #38383d;
}
meta.document.button {
  background: #18181a;
  border: #18181a;
  color: #a1a1a1;
}
meta.document.button.disabled {
  background: #18181a;
  border: #18181a;
  color: #4e4e51;
}
meta.document.button.highlighted {
  background: #4e4e51;
  border: #4e4e51;
  color: #a1a1a1;
}
meta.document.button.selected {
  background: #4e4e51;
  border: #4e4e51;
  color: #a1a1a1;
}
meta.document.textfield {
  background: #232327;
  border: #18181a;
}
meta.document.textfield.highlighted {
  background: #232327;
  border: #0a84ff;
}
meta.document.textfield.selected {
  background: #232327;
  border: #0a84ff;
}

/* Text */
meta.text {
  color: #75bfff;
}
meta.text.invisible {
  color: #d9d9dc;
}
meta.text.selected {
  background: #353b48;
}
/* Cursor */
meta.cursor {
  background: #353b48;
}
/* Indentation Guides */
meta.indentguide {
  border: #38383d;
}
/* Gutter */
meta.gutter {
  color: #a1a1a1;
}
meta.gutter.selected {
  background: #353b48;
}

/* Syntax styles */
keyword {
  color: #ff7de9;
  font-style: italic;
}
comment {
  color: #8f8f91;
}
processing {
  color: #8f8f91;
}
declaration {
  color: #75bfff;
}
bracket {
  color: #d9d9dc;
}
operator {
  color: #b1b1b3;
  font-style: italic;
}
invalid {
  color: #eb5368;
}
link {
  color: #0a84ff;
}

/* Values */
value.boolean {
  color: #ff7de9;
}
value.null {
  color: #ff7de9;
}
value.number {
  color: #709aff;
}
value.entity {
  color: #709aff;
}
value.symbols {
  color: #709aff;
}

/* Identifiers */
identifier.type {
  color: #709aff;
}
identifier.constant {
  color: #c5a3fe;
}
identifier.decorator {
  color: #86de74;
}
identifier.function,
identifier.method {
  color: #86de74;
}
identifier.global {
  color: #c5a3fe;
}
identifier.property {
  color: #86de74;
}
identifier.key {
  color: #82d771;
}
identifier.argument {
  color: #75bfff;
}

/* Strings */
string {
  color: #709aff;
}
string.key {
  color: #86de74;
}
string-template {
  color: #709aff;
}
regex {
  color: #709aff;
}
cdata {
  color: #709aff;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  color: #709aff;
  font-weight: bold;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #cdcdd1;
}

/* Tags */
tag {
  color: #75bfff;
}
tag.framework {
  color: #75bfff;
}
tag.attribute.name {
  color: #ff7de9;
  font-style: italic;
}
tag.attribute.value {
  color: #a0a0a0;
}
tag.attribute.value.link {
  color: #a0a0a0;
}

/* Styles */
style.at {
  color: #75bfff;
  font-weight: bold;
}
style.selector.element {
  color: #75bfff;
}
style.selector.identifier.id {
  color: #cdcdd1;
}
style.selector.identifier.class {
  color: #cdcdd1;
}
style.selector.pseudoclass {
  color: #cdcdd1;
}
style.selector.pseudoelement {
  color: #cdcdd1;
}
style.attribute.name {
  color: #86de74;
}
style.value.text {
  color: #709aff;
}
style.value.number {
  color: #709aff;
}
style.value.color.hex {
  color: #ff7de9;
}
style.value.keyword {
  color: #ff7de9;
  font-style: italic;
}
style.value.color.named {
  color: #ff7de9;
}

/* Markup */
markup.heading {
  color: #cdcdd1;
  font-weight: bold;
}
markup.line {
  color: #a0a0a0;
}
markup.bold {
  font-weight: bold;
}
markup.italic {
  font-style: italic;
}
markup.strikethrough {
  color: #ff7de9;
}
markup.list {
  color: #cdcdd1;
}
markup.list.item {
  color: #8f8f91;
}
markup.code {
  color: #cdcdd1;
}

/* Terminal */
terminal.bright-black {
  color: #353b48;
}
terminal.bright-red {
  color: #d96629;
}
terminal.bright-green {
  color: #93df86;
}
terminal.bright-yellow {
  color: #ffcd22;
}
terminal.bright-blue {
  color: #709aff;
}
terminal.bright-magenta {
  color: #c5a3fe;
}
terminal.bright-cyan {
  color: #46afe3;
}
terminal.bright-white {
  color: #ffffff;
}

terminal.black {
  color: #18181a;
}
terminal.red {
  color: #eb5368;
}
terminal.green {
  color: #86de74;
}
terminal.yellow {
  color: #ffcd22;
}
terminal.blue {
  color: #0a84ff;
}
terminal.magenta {
  color: #ff7de9;
}
terminal.cyan {
  color: #75bfff;
}
terminal.white {
  color: #d9d9dc;
}
