
meta {
    -theme-interface-name: "Foxy Light";
    -theme-interface-style: light;
    -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
    background-color: #FFFFFF;
    border-color: #E0E0E2;
}
meta.titlebar {
    color: #38383D;
    background-color: #F9F9FA;
    border-color: #E0E0E2;
}
meta.titlebar.inactive {
    background-color: #F9F9FA;
}
meta.button {
    background-color: #F9F9FA;
    border-color: #F9F9FA;
    color: #38383D;
}
meta.button.highlighted {
    background-color: #DCDCDE;
    border: #DCDCDE;
    color: #0C0C0C;
}
meta.button.selected {
    background: #E6E6E6;
    border: #E6E6E6;
    color: #0C0C0C;
}
meta.button.highlighted.selected {
    background: #E6E6E6;
    border: #E6E6E6;
    color: #3E3E3E;
}
meta.button.disabled {
    background: #F9F9FA;
    border: #F9F9FA;
    color: #E6E6E6;
}
meta.textfield {
    background-color: #F9F9FA;
    border-color: #F9F9FA;
    color: #3E3E3E;
}
meta.textfield.highlighted {
    background-color: #F9F9FA;
    border-color: #0A84FF;
    color: #38383D;
}
meta.textfield.selected {
    background-color: #F9F9FA;
    border-color: #0A84FF;
    color: #38383D;
}


/*
 * Document styles
 */
meta.document {
    background-color: #FFFFFF;
    border-color: #DCDCDE;
}
meta.document.button {
    background-color: #F9F9FA;
    border-color: #F9F9FA;
    color: #38383D;
}
meta.document.button.disabled {
    background-color: #F9F9FA;
    border-color: #F9F9FA;
    color: #E6E6E6;
}
meta.document.button.highlighted {
    background-color: #E6E6E6;
    border: #E6E6E6;
    color: #3E3E3E;
}
meta.document.button.selected {
    background-color: #E6E6E6;
    border: #E6E6E6;
    color: #3E3E3E;
}
meta.document.textfield {
    background-color: #F9F9FA;
    border-color: #F9F9FA;
    color: #3E3E3E;
}
meta.document.textfield.highlighted {
    background-color: #F9F9FA;
    border-color: #0A84FF;
    color: #38383D;
}
meta.document.textfield.selected {
    background-color: #F9F9FA;
    border-color: #0A84FF;
    color: #38383D;
}

/* Text */
meta.text {
    color: #0878E9;
}
meta.text.invisible {
    color: #0878E9;
}
meta.text.selected {
    background-color: #B9D7FD;
}
/* Cursor */
meta.cursor {
    background-color: #E7F1FE;
}
/* Indentation Guides */
meta.indentguide {
    border-color: #DCDCDE;
}
/* Gutter */
meta.gutter {
    color: #DCDCDE;
}
meta.gutter.selected {
    background-color: #B9D7FD;
}


/*
 * Syntax styles
 */

keyword {
    color: #DD00A9;
    font-style: italic;
}
comment {
    color: #737373;
}
processing {
    color: #737373;
}
declaration {
    color: #8000D7;
}
bracket {
    color: #38383D;
}
operator {
    color: #38383D;
    font-style: italic;
}
invalid {
    color: #EB5368;
}
link {
    color: #0878E9;
}

/* Values */

value.boolean {
    color: #DD00A9;
}
value.null {
    color: #DD00A9;
}
value.number {
    color: #003EAA;
}
value.entity {
    color: #003EAA;
}
value.symbols {
    color: #003EAA;
}

/* Identifiers */
identifier.type {
    color: #003EAA;
}
identifier.constant {
    color: #0878E9;
} 
identifier.decorator {
    color: #003EAA;
}
identifier.function,
identifier.method {
    color: #003EAA;
}
identifier.global {
    color: #8000D7;
}
identifier.property {
    color: #148310;
}
identifier.key {
    color: #148310;
}
identifier.argument {
    color: #0878E9;
}

/* Strings */
string {
    color: #003EAA;
}
string.key {
    color: #148310;
}
string-template {
    color: #148310;
}
regex {
    color: #148310;
}
cdata {
    color: #148310;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
    font-style: normal;
    color: #0878E9;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
    color: #0878E9;
}

/* Tags */
tag {
    color: #0878E9;
}
tag.framework {
    color: #0878E9;
}
tag.attribute.name {
    color: #DD00A9;
    font-style: italic;
}
tag.attribute.value {
    color: #003EAA;
}
tag.attribute.value.link {
    color: #003EAA;
}

/* Styles */
style.at {
    color: #0878E9;
    font-weight: bold;
}
style.selector.element {
    color: #0878E9;
}
style.selector.identifier.id {
    color: #38383D;
}
style.selector.identifier.class {
    color: #38383D;
}
style.selector.pseudoclass {
    color: #38383D;
}
style.selector.pseudoelement {
    color: #38383D;
}
style.attribute.name {
    color: #148310;
}
style.value.text {
    color: #003EAA;
}
style.value.number {
    color: #003EAA;
}
style.value.color.hex {
    color: #DD00A9;
}
style.value.keyword {
    color: #DD00A9;
    font-style: italic;
}
style.value.color.named {
    color: #DD00A9;
}

/* Markup */
markup.heading {
    color: #353B48;
}
markup.line {
    color: #38383D;
}
markup.bold {
    color: #38383D;
    font-weight: bold;
}
markup.italic {
    color: #38383D;
    font-style: italic;
}
markup.strikethrough {
    color: #38383D;
}
markup.list.item {
    color: #747474;
}
markup.code {
    color: #A0A0A0;
}

/* Terminal */
terminal.bright-black { color: #38383D; }
terminal.bright-red { color: #D96629; }
terminal.bright-green { color: #148310; }
terminal.bright-yellow { color: #FFCD22; }
terminal.bright-blue { color: #0878E9; }
terminal.bright-magenta { color: #FF7DE9; }
terminal.bright-cyan { color: #46AFE3; }
terminal.bright-white { color: #E0E2E4; }

terminal.black { color: #0C0C0C; }
terminal.red { color: #EB5368; }
terminal.green { color: #058B00; }
terminal.yellow { color: #FF9900; }
terminal.blue { color: #003EAA; }
terminal.magenta { color: #DD00A9; }
terminal.cyan { color: #75BFFF; }
terminal.white { color: #E6E6E6; }